body{font-family: "PingFang Light"}
img{ border:none; border:0; vertical-align:middle;}
a{ text-decoration:none; outline:none;}
p{ margin:0; padding:0;font-family: "PingFang Light"}
select{vertical-align:middle; *font-size:100%;width: 265px;height: 50px;text-align: center}
/* m_zlxg */
.m_zlxg{ width:93px; height:30px;cursor:pointer;float:left;margin:0 10px 0 0;display:inline;border: 1px solid #000000}
.m_zlxg p{ padding-left:10px;text-align: center; overflow:hidden; line-height:30px; color:#333333; font-size:12px; font-family:"微软雅黑";text-overflow:ellipsis; white-space:nowrap;}
.m_zlxg2{ position:absolute; border:1px solid #ded3c1;background:#fff; width:91px; display:none; max-height:224px;-height:224px; overflow-x:hidden; overflow-y:auto;white-space:nowrap;}
.m_zlxg2 li{line-height:28px;white-space:nowrap; padding-left:10px;font-family:"微软雅黑";color:#333333; font-size:12px;}
.m_zlxg2 li:hover{ color:#7a5a21;}
select{margin-left: 85px;background-color: rgb(245, 245, 245)}
.info{width: 1000px}
.Join_title{width:100%;margin-left: 25%;margin-top: 120px;font-size: 48px;font-family: 'PingFang Light'}
.Join_one{margin-top: 120px;border-bottom: 1px solid #000;height:30px;}
.Join_one span{margin-top: 20px}
.Join_two{margin-left: 25%;margin-top: 60px}
.Join_two div p {float: left;margin-top: 15px;font-size: 18px}
.Join_two textarea{margin-left: 67px;resize: none;background-color:rgb(245, 245, 245) }
.Join_information {margin-top: 120px;border-bottom: 1px solid #000;height:30px;}
.chk_1{display: none}
.chk_1 + label{float: left;background-color: #FFF;border: 1px solid #C1CACA;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 9px;border-radius: 5px;display: inline-block;position: relative;}
.chk_1:checked + label{background-color: #ECF2F7;border: 1px solid #92A1AC;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);color: #243441;}
.chk_1:checked + label:after{
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #758794;
    width: 100%;
    text-align: center;
    font-size: 1em;
    vertical-align: text-top;
}
.disabled{width:480px;line-height: 50px;color: #FFFFFF; height:50px; background: #1ab1af;border: 1px solid #1ab1af; font-size:14px;font-family: "PingFang Light"; font-weight:bold; cursor:pointer;margin-left: 43.5%}
.disabled1{width:480px;line-height: 50px;color: #FFFFFF; height:50px; background: #1ab1af;border: 1px solid #1ab1af; font-size:14px;font-family: "PingFang Light"; font-weight:bold; cursor:pointer;margin-left: 37%;margin-top: 50px;margin-top: 50px}
.Join_two div label{color: red}
input{background-color: rgb(245, 245, 245);border: 1px solid #000000}
#formbox{width: 1800px}
@media screen and (max-width: 1324px) {
    .join{width: 95%;margin-top: -20px}
    .Join_title{width: 1000px;margin-left: 5%;margin-top: 120px;font-size: 48px;font-family: 'PingFang Light'}
    .Join_two{margin-left: 5%;margin-top: 60px}
    .disabled1{width:480px;line-height: 50px;color: #FFFFFF; height:50px; background: #1ab1af;border: 1px solid #1ab1af; font-size:14px;font-family: "PingFang Light"; font-weight:bold; cursor:pointer;margin-left: 22%;margin-top: 50px;margin-top: 50px}
}